PORT=8000
DATABASE_URL=mysql://user:password@localhost:3306/db_name
JWT_SECRET=your_jwt_secret
NODE_ENV=Development
ORIGIN_URL=http://localhost:3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_email_password
SMTP_FROM=your_email@gmail.com
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin_password
ADMIN_NAME=Admin
ADMIN_ROLE=ADMIN
JWT_EXPIRES_AT=1d
COKKIE_NAME=cookie_name
SALT_ROUNDS=10
COKKIE_AGE=86400000
